@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@400;500;600;800;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Noto Sans Hebrew', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    z-index: 2;
    transition: 0.5s;
}

.showcase.active {
    right: -300px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 120px;
    margin-right: -12px;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url('menu.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    background: url('close.png');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.8; */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    position: relative;
    z-index: 10;
    margin-top: 40px;
    transform: translateY(500px);
    opacity: 0;
    animation: move 1.5s forwards ease-out;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-size: 1.2em;
    margin: 20px 0;
    font-weight: 600;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social-container {
    padding: 100px;
    position: relative;
}

.social {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a.differ-link {
    transform: scale(0.35);
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.social li a.differ-link:hover {
    transform: scale(0.35) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu img {
    width: 240px;
    position: absolute;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}


.menu ul {
    position: relative;
    list-style: none;
    margin-top: 60px;
}

.menu ul li {
    margin-bottom: 5px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    transition: 0.5s;
}

.menu ul li a:hover {
    color: #03a9f4;
}

.toggle-about {
    filter: invert(1);
    position: absolute;
    z-index: 100;}

.menu2 {
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 0;
}

.active2 {
    right: -300px !important;
}

.move-side {
    opacity: 1;
}


h1 {
    text-align: center;
    font-size: 5em;
    font-weight: 800;
    color: #0f5543;
}


.in-about {
    animation: about-logo 2s forwards ease-out;
    transform: translateY(800px);
    opacity: 0;
    margin-bottom: 45px;
}

.plus-img {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.icons {
    /* padding: 30px; */
    /* width: 35%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.flex-items>div {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 25px;
    /* background: #a1fce4; */
}

.icons img {
    width: 65px;
    margin-bottom: 15px;

}

.icons h3 {
    font-weight: 900;
    margin-bottom: 20px;
    color: #0f5543;
}

.icons p {
    width: 250px;
    margin: auto;
}


.info-img {
    width: 65%;
    position: relative;
}

.info-img img {
    width: 100%;
    border-radius: 10px;
    animation: about-logo 2.5s forwards ease-out;
    transform: translateY(800px);
    opacity: 0;
}

.info-img p {
    margin-bottom: 8px;
}

#av-koteret {
    position: relative;
    margin-bottom: 120px;
}

.koteret {
    font-size: 2em;
    font-weight: 900;
    color: white;
    text-align: initial;
    width: 340px;
    border-radius: 10px;
    background: #0f5543;
    padding: 25px;
    text-align: center;
    position: absolute;
    bottom: -90px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 10;
    transform: translateY(800px);
    opacity: 0;

}

#profile-img {
    width: 255px;
    float: right;
    margin-left: 20px;
    margin-top: 6px;
}

#about {
    position: absolute;
    right: 0;
    width: 100%;
    padding-right: 20px;
    transition: 0.5s;
}

#button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 48px 100px;
        display: flex;
        justify-content: end;
}

/* #rezume {
    transform: translateY(800px);
    opacity: 0;
} */

#first-icon {
    animation: about-logo 3s forwards ease-out;
    transform: translateY(800px);
    opacity: 0;
}

#second-icon,#rezume,#third-icon {
    transform: translateY(800px);
    opacity: 0;
}

.effect-to-second {
    animation: about-logo 2.5s forwards ease-out;
}

/* .effect-to-koteret {
    animation: about-logo 2.5s forwards ease-out;
} */



@keyframes move {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes about-logo {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



@media (max-width: 798px) {
    .showcase, .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }

}